@model NewShop.Model.ViewModel.MenuViewModel
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<div class="container">
    <ul class="breadcrumb clearfix">

        <li><a href="index">菜单列表</a></li>
        <li class="active"><a>@(Model.Id > 0 ? "编辑菜单" : "新增菜单")</a></li>
    </ul>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="" class="col-sm-2 control-label"><b>*</b>父级菜单：</label>
            <div class="col-sm-3">
                @Html.DropDownListFor(a => a.ParentId, ViewData["firstmenus"] as IEnumerable<SelectListItem>, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(a => a.ParentId)
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label"><b>*</b>菜单名称：</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control input-sm", maxlength = 25 })
            </div>
            <div class="col-sm-3">
                @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "help-default cor-red" })
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label"><b>*</b>链接地址：</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.UrlAddress, new { @class = "form-control input-sm", maxlength = 25 })
            </div>
            <div class="col-sm-3">
                @Html.ValidationMessageFor(m => m.UrlAddress, "", new { @class = "help-default cor-red" })
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label"><b>*</b>排序：</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.SortCode, new { @class = "form-control input-sm", maxlength = 25 })
            </div>
            <div class="col-sm-3">
                @Html.ValidationMessageFor(m => m.SortCode, "", new { @class = "help-default cor-red" })
            </div>
        </div>


        <div id="upload-img" class="form-group upload-img" style="margin-bottom:0;">
            <label for="" class="col-sm-2 control-label"></label>
            <div class="col-sm-3">
                <span class="cor-red" id="contentError" style="display:none">必须填写内容</span>
            </div>
        </div>
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" id="submit" class="btn btn-primary">保 存</button>
            </div>
        </div>
    </form>
</div>


@section Scripts{
    <script type="text/javascript">
        $('#submit').click(function () {            
            var data = $('form').serialize();
            console.log(data);
                var loading = showLoading();
                $.post('add', data, function (result) {
                    loading.close();
                    var txt = $('input[name="Id"]').val() ? '保存' : '新增';
                    if (result.success) {
                        $.dialog.tips(txt + '菜单成功');
                        setTimeout(function () { location.href = 'index'; }, 1300);
                    }
                    else
                        $.dialog.tips(txt + '菜单失败');
                });
        });
    </script>
}