@model IEnumerable<NewShop.Model.ViewModel.MenuViewModel>
@{
    /**/

    ViewBag.Title = "菜单管理";
}
<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <li class="active"><a>菜单管理</a></li>
        <li><a href="/admin/Menu/add" class="add-article-sort" id="addFirstMenu">新增菜单</a></li>

    </ul>
    <table class="table category_table mt20">
        <thead>
            <tr>
                <th style="text-align:center" width="400">菜单名称</th>
                <th style="text-align:center" width="320">链接</th>
                <th class="td-operate clear-m1 w150">操作</th>
            </tr>
        </thead>
        <tbody>
            @if (null == Model)
            {
                <tr>
                    <td class="tac" colspan="3"><h2 class="clear-i">没有任何菜单</h2></td>
                </tr>
            }
            else
            {
                foreach (var menu in Model)
                {
                    <tr class="level-@menu.Layers" cid="@menu.Id" parentid="@menu.ParentId" style="@(false?"display:none":"")">
                        <td class="@(menu.Layers == 2 ? "clear-m2" : "clear-e")">
                            @if (menu.Layers == 2)
                            {
                            <s class="line clear-m3">├─── </s>
                            }
                            @if (menu.Layers ==1)
                            {
                                <span class="glyphicon glyphicon-@(false ? "plus" : "minus")-sign"></span>
                            }
                            <input type="hidden" class="hidden_id" value="@menu.Id" />
                            <input type="hidden" class="hidden_depth" value="@menu.Layers" />
                            <input class="text-name input-no-sp" type="text" value="@menu.FullName" />
                            <input class="text-order" type="text" value="@menu.SortCode" />
                        </td>
                        @if (menu.Layers == 2)
                        {
                            <td class="tac"><input class="text-commis tac text-order w150" type="text" value="@menu.UrlAddress"></td>
                        }
                        else
                        {
                            <td style="text-align:center"></td>
                        }
                        <td class="td-operate">
                            <span class="btn-a">
                                @if (menu.Layers == 1)
                                {
                                    <a id="add_@menu.Id" class="add" target="" onclick="edit(null,@menu.Id)" href="javascript:;">新增下级</a>
                                }
                                <a id="edit_@menu.Id" onclick="edit(@menu.Id)" href="javascript:;" class="edit">编辑</a>
                                <a id="del_@menu.Id" onclick="del(@menu.Id)" href="javascript:;" class="delete-classify">删除</a>
                            </span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="table-bt clearfix">
        <div class="tabel-operate">
            &nbsp;
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function edit(id, defaultParentId) {
            var oriMenu = { FullName: '', ParentId: 0, UrlAddress: '', SortCode: '' };
            if (id) {
                var loading = showLoading();

                $.ajax({
                    type: "post",
                    url: "/admin/menu/GetMenu",
                    data: { id: id },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        oriMenu = data;
                    },
                    error: function () {
                    }
                });
                loading.close();
            }
            var loading = showLoading();
            $.post('/admin/menu/GetMenus', { parentId: 0 }, function (data) {
                loading.close();
                var selector = '<p><select id="parentArticleCategory" class="form-control input-sm"><option value="0" >顶级菜单</option>';
                $.each(data, function (i, articleCategory) {
                    selector += '<option value="' + articleCategory.Id + '" ' + ((articleCategory.Id == oriMenu.ParentId || articleCategory.Id == defaultParentId) ? 'selected="selected"' : '') + ' >' + articleCategory.FullName + '</option>';
                });
                selector += '</select></p>';
                $.dialog({
                    title: '新增分类',
                    lock: true,
                    id: 'addArticleSort',
                    content: ['<div class="dialog-form">',
                        '<div class="form-group">',
                        '<label class="label-inline fl" for="">菜单名称</label><input class="form-control input-sm" maxlength="30" type="text" id="menuName" value="' + oriMenu.FullName + '"><p class="help-block">不能多于30个字</span></p>',
                        '</div>',
                        '<div class="form-group">',
                        '<label class="label-inline fl" for="">链接</label><input class="form-control input-sm" maxlength="30" type="text" id="menuUrl" value="' + oriMenu.UrlAddress + '">',
                        '</div>',
                        '<div class="form-group">',
                        '<label class="label-inline fl" for="">排序</label><input class="form-control input-sm" maxlength="30" type="text" id="menuSort" value="' + oriMenu.SortCode + '">',
                        '</div>',
                        '<div class="form-group">',
                        '<label class="label-inline fl" for="">上级菜单</label>',
                        selector,
                        '</div>',
                        '</div>'].join(''),
                    padding: '0 40px',
                    init: function () { $("#menuName").focus(); },
                    okVal: '保存',
                    ok: function () {
                        var menuName = $.trim($('#menuName').val());
                        if (!menuName) {
                            $.dialog.tips('请输入菜单名称');
                            return false;
                        }
                        else {
                            var loading = showLoading();
                            var parentId = $('#parentArticleCategory').val();
                            var params = {};
                            if (id)
                                params.id = id;
                            params.parentId = parentId;
                            params.FullName = menuName;
                            params.UrlAddress = $.trim($('#menuUrl').val());;
                            params.SortCode = $.trim($('#menuSort').val());;

                            $.post('/menu/add', params, function (result) {
                                loading.close();
                                if (result.success) {
                                    $.dialog.succeedTips((!id ? '添加' : '保存') + '成功', function () {
                                        location.reload();
                                    });
                                    if (!id) {
                                        $('span[articleCategoryId="' + parentId + '"]').removeClass('disabled');
                                    }
                                }
                                else
                                    $.dialog.errorTips((!id ? '添加' : '保存') + '失败！' + result.msg);

                            });
                        }
                    }
                });

            });
        }

        //删除
        function del(id) {
            if (id > 0) {
                $.dialog.confirm('您确定要删除吗？', function () {
                    var loading = showLoading();
                    $.post('/menu/delete', { id: id }, function (result) {
                        if (result.success) {
                            $.dialog.tips('删除成功！');
                            setTimeout(function () { location.reload(); }, 1500);
                        }
                        else
                            $.dialog.errorTips('删除失败：' + result.msg);
                        loading.close();
                    });
                });
            }

        }

        //展开和折叠
        $('tr .glyphicon').click(function () {
            var category = $(this).next('input').val();
            if ($(this).hasClass('glyphicon-plus-sign')) {
                if ($('tr[parentid=' + category + ']').length == 0) {
                    $.dialog.tips('该分类下目前还没有子分类.');
                    return;
                }
                $(this).removeClass('glyphicon-plus-sign').addClass('glyphicon-minus-sign');
                $('tr[parentid=' + category + ']').show();
                $('tr[parentid=' + category + ']').each(function (idx, el) {
                    var pid = $(el).find('.hidden_id').val();
                    if ($('tr[parentid=' + pid + ']').length > 0) {
                        $(el).find('.glyphicon').removeClass('glyphicon-minus-sign').addClass('glyphicon-plus-sign')
                    }
                    else {
                        $(el).find('.glyphicon').removeClass('glyphicon-plus-sign').addClass('glyphicon-minus-sign');
                    }
                });
            } else {
                $('tr[parentid=' + category + ']').hide();
                $('tr[parentid=' + category + ']').each(function (idx, el) {
                    var pid = $(el).find('.hidden_id').val();
                    $('tr[parentid=' + pid + ']').hide();
                });
                $(this).removeClass('glyphicon-minus-sign').addClass('glyphicon-plus-sign');
            }
        });

        //页面修改
        $(function () {
            categoryTextEventBind()
        })

        function categoryTextEventBind() {
            var _order = 0;//排序号
            var _name = '';//菜单名称
            var _commis = '';//链接
            $('.container').on('focus', '.text-order', function () {
                _order = parseInt($(this).val());
                console.log(_order);
            });
            $('.container').on('focus', '.text-name', function () {
                _name = $(this).val();
            });
            $('.container').on('focus', '.text-commis', function () {
                _commis = $(this).val();
            });
            $('.container').on('blur', '.text-name,.text-order,.text-commis', function () {
                var id = $(this).parents('tr').find('.hidden_id').val();
                var depth = $(this).parents('tr').find('.hidden_depth').val();
                if ($(this).hasClass('text-order') && !$(this).hasClass('tac')) {
                    if (isNaN($(this).val()) || parseInt($(this).val()) <= 0) {
                        $.dialog({
                            title: '更新分类信息',
                            lock: true,
                            width: '400px',
                            padding: '20px 60px',
                            content: ['<div class="dialog-form">您输入的序号不合法,此项只能是大于零的整数.</div>'].join(''),
                            button: [
                                {
                                    name: '关闭',
                                }]
                        });
                        $(this).val(_order);
                    } else {
                        if (parseInt($(this).val()) === _order) return;
                        updateOrderOrName("UpdateOrder", { id: id, sort: parseInt($(this).val()) }, '顺序');
                    }
                } else {
                    if ($(this).hasClass('text-name')) {
                        if ($(this).val().trim().length === 0) {
                            $.dialog.errorTips("菜单名称不能为空！");
                            $(this).val(_name);
                        }
                        else if ($(this).val().length > 12) {
                            $.dialog.errorTips("菜单名称不能多于12个字符！");
                            $(this).val(_name);
                        }
                        else {
                            updateOrderOrName("UpdateName", { id: id, name: $(this).val()}, '名称');
                        }
                    }
                    else {
                        if ($(this).val().trim().length === 0) {
                            $.dialog.errorTips("链接不能为空！");
                            $(this).val(_commis);
                        }
                        else {
                            if (parseInt($(this).val()) === _commis) return;
                            updateOrderOrName("UpdateLink", { id: id, link: $(this).val() }, '链接');
                        }
                    }
                }
            });
        }

        function updateOrderOrName(actionName, param, actionDesc) {
            var loading = showLoading();
            ajaxRequest({
                type: 'Post',
                url: "/menu/" + actionName,
                param: param,
                dataType: "json",
                success: function (data) {
                    loading.close();
                    if (data.success == true) {
                        $.dialog.tips('更新分类的' + actionDesc + '成功.');
                    }
                    else {
                        $.dialog.errorTips(data.msg, function () { location.reload(); });
                    }
                }, error: function () {
                    loading.close();
                }
            });
        }
    </script>
}


