
@{
    Layout = null;
}
@{var area = (string)ViewContext.RouteData.DataTokens["area"];}
<div class="navbar navbar-static-top navbar-custom">
    <div class="top-nav-container">
        <div class="navbar-header">
            <a class="logo" href="/" title="" target="_blank"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <div class="block"></div>
                <li class="dropdown L_curr">
                    <a class="dropdown-toggle dropdown" data-toggle="dropdown" onclick="window.location.href = '/Admin/Home/Console';">首页</a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("控制台", "Console", "Home", new { area = "admin" }, new { id = "1001" })</li>
                    </ul>
                </li>

                @*@foreach (var p in Himall.Web.Framework.PrivilegeHelper.AdminPrivilegesDefault.Privilege)
                {
                    var fistUrl = "";
                    var fistItem = p.Items.FirstOrDefault();
                    if (fistItem != null)
                    {
                        fistUrl = "/" + area + "/" + fistItem.Url;
                    }
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" onclick="window.location.href = '@fistUrl';"> @p.GroupName</a>
                        <ul class="dropdown-menu id_menu">
                            @foreach (var item in p.Items)
                            {
                                <li><a target="@item.LinkTarget" href="/@area/@item.Url" id="@item.PrivilegeId">@item.Name</a></li>
                            }
                        </ul>
                    </li>
                }*@
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" onclick="window.location.href = '';">系统</a>
                    <ul class="dropdown-menu id_menu">
                        <li><a target="" href="/Admin/Manager" id="">管理员</a></li>
                        <li><a target="" href="/Admin/Privilege" id="">权限组</a></li>
                        <li><a target="" href="/Admin/Menu" id="">菜单管理</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("logout","login")" style="float:left;">安全退出</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="aside">
    <div class="column-icon"><i></i></div>
    <ul class="aside-list"></ul>
</div>